# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.NPOI-Spring-Calculus-PoC.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\a.richez\Codes\QSet\PoCs\NPOI-Spring-Calculus-PoC\.idea\.idea.NPOI-Spring-Calculus-PoC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
